.search{
  position: relative;
}
.search input{

  border: none;
  width: 500px;
  background-color: #f6f5f4;


}
.search .fa-search{
  position: absolute;
  top: 25px;
  left: 17px;
  font-size: 20px;
}
.search input:focus{
  border:none;
}


@font-face {
font-family: myFamily;
 src:url('./Futura Medium.otf');
}

@font-face {
  font-family:FuturaBold;
  src:url('./Futura Bold.otf');
}
.logo{
    font-family: FuturaBold;
}
body{
  font-family: myFamily;
}
.logoSize{
  font-size: 35px;
    color:#6672fb;
}

.avtar{
  vertical-align: middle;
  width: 50px;
  height: 50px;
  border-radius: 50%
}
.col_color{
    background-color: #f6f5f4;
}

.board{
  width:250px !important;
}
.a1{
  background-color: #6672fb;
}
.a1:hover{
  background-color: white;
  color:#6672fb;
}
 .badge {
  position: absolute;
  top: 25px;
  right: 40px;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background-color: red;
  color: white;
}
.active{
  color:#6672fb !important;
  background-color: #f6f5f4 !important;

  border-left: 5px;
  border-color: #6672fb;
}
